.my-body{
    background-color:blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}
.h1{
    color:green;
    background-color: pink;
}
.registration-page h1 {
    text-align: center;
    text-transform: uppercase;
    border-top: thin solid #ddd;
    border-bottom: thin solid #ddd;
    padding: 20px 0;
}